#container{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content:space-around;
    height: 100%;
}

.pic{
    margin-bottom: 20px;
    width: 400px;
    height: auto;
}

.txt{
    margin-bottom: 50px;
    min-width: 600px;
    min-height: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
#time{
    display: block;
    position: fixed;
    bottom: 0;
    right: 20;
}